[package]
name = "rustdown"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
eframe = { version = "0.30", default-features = false, features = [
  "glow",
  "wayland",
  "x11",
] }
egui_commonmark = { version = "0.19.0", default-features = false, features = ["pulldown_cmark"] }
pulldown-cmark = "0.12"
rfd = "0.15"
