[package]
name = "rustdown-gui"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
eframe = "0.30"
egui_commonmark = { version = "0.19.0", default-features = false, features = ["pulldown_cmark"] }
rfd = "0.15"
rustdown-core = { path = "../rustdown-core" }
