[package]
name = "rustdown-gui"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
eframe = "0.30"
pulldown-cmark = "0.12"
rfd = "0.15"
rustdown-core = { path = "../rustdown-core" }
